:host {
  width: 250px;
  height: 200px;
  border: 1px solid #000;
  display: block;
  background-color: rgb(234, 255, 188);
  border-radius: 10px;
  border-color: rgb(38, 247, 15);

  -webkit-box-shadow: 6px 6px 5px 0px rgb(158, 255, 67);
  -moz-box-shadow: 6px 6px 5px 0px rgb(158, 255, 67);
  box-shadow: 6px 6px 5px 0px rgb(158, 255, 67);
}
